[user]
  name = Jordan Maguire
  email = a.jordan.maguire@gmail.com
[alias]
  br = branch
  co = checkout
  cp = cherry-pick
  df = diff --color
  fi = reset head --hard
  pl = pull
  ps = push
  rb = rebase --committer-date-is-author-date
  st = status --porcelain
[push]
  default = upstream
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.global_gitignore
  # editor = subl -n -w
  editor = code --wait
  # editor=vim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[push]
  autoSetupRemote = true
