[user]
  name = Jordan Maguire
  email = jmaguire@thefrontiergroup.com.au
[alias]
  br = branch
  co = checkout
  cp = cherry-pick
  df = diff --color
  st = status --porcelain
  fuckit = reset head --hard
  rb = rebase --committer-date-is-author-date
[push]
  default = upstream
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.global_gitignore
